.search-bar {
    margin: 20px 0;
    width: 60%;
    max-width: 600px;
    padding: 12px 20px;
    border-radius: 30px;
    border: 1px solid var(--border-color);
    font-size: 1rem;
    outline: none;
    box-shadow: 0 2px 8px var(--shadow-light);
    width: 0;
    animation: showText 7s 0s forwards;
}

@keyframes showText {
    to {
        width: 100%;
    }
}

.search-bar input:focus {
    box-shadow: 0 4px 12px var(--input-focus-shadow);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .search-bar {
        max-width: 90%;
    }
}
